<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NodeJS-MySQL CRUD App</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">NodeJS-MySQL CRUD App</a>
      </div>
    </nav>
  </body>
</html>
